/* 

Colors:

#2c96c3 - depper sky blue
#00bfff - sky blue
#e6f4f1 - faint green
#eee8a9 - yellowish */

:root {
  --bkgdcolor: #2c96c3;
  --text: #e6f4f1;
  --link: #eee8a9;
  font-family: "Arial", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bkgdcolor);
  color: var(--text);
}

b,
h1 {
  color: var(--link);
}

.pokemon-list {
  list-style-type: none;
}

.pokemon-button {
    background: pink;
    border: 1px green solid;
    padding: 1em 2em;
    margin: 1em; 
} 