@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --light-blue: #2c96c3;
  --near-white: #e6f4f1;
  --faded-yellow: #eee8a9;
  --red: hsla(0, 100%, 50%, 1);
  --deeper-red: hsla(0, 100%, 40%, 1);
  --violet-blue: hsla(233, 57%, 51%, 1);
  --golden-yellow: hsla(52, 100%, 50%, 1);
  --golden-yellow-light: rgb(182, 168, 79);
  --old-gold: rgb(116, 105, 40);
  --old-gold-light: #f6f2d5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: var(--old-gold-light);
  background-image: url(../img/pokeballbg_fade.png);
  z-index: -50;
}

/* =================Navbar================== */

.navbar-brand img {
  width: 10px;
  margin: 0;
  z-index: -10;
}

.navbar {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
  background-color: var(--deeper-red);
  text-shadow: 2px 2px 5px #000;
}

.main-title {
  font-family: "Lilita One", cursive;
  letter-spacing: 3px;
  font-size: 3rem;
  padding: 0;
  background-color: inherit;
  color: white;
  z-index: 100;
}

.main-title img {
  margin: 0;
  width: fit-content;
}

/* =================Modal================== */
/* Image of pokemon */
img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  margin-bottom: 20px;
}

.modal-header,
.modal-title {
  border: none;
  display: inline-flex;
}

.phraseElement {
  font-family: 'Lilita One', cursive;
  font-size: 1.7rem;
  /* text-align: justify; */
  color: var(--golden-yellow);
  letter-spacing: 2px;
  margin-top: 5px;
}

.btn { 
  color: white !important;
  font-size: 40px;
  border: 0;
  background: none;
  text-decoration: none;
}

.btn:hover { 
  color: white !important;
  font-size: 40px;
  border: 0;
  background: none;
  text-decoration: none;
}

.modal-content {
  background: #DB092C;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
  margin: 0 auto;
  padding: 5px;
  width: fit-content;
  color: #000;
  font-size: 16px;
  z-index: 999;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
}

.modal-body {
  font-family: 'Roboto', serif;
  margin: auto;
  padding: 10px;
  width: fit-content;
  border-radius: 8px;
  display: flex;
  flex-flow: column nowrap;
}

.imgElement {
  border: 20px solid hsl(0, 11%, 86%);
  border-bottom-left-radius: 50px;
  background-color: white;
  max-width: 300px;
  padding: 10px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
  justify-content: center;
  align-self: center;
}

/* Name of pokemon */
.titleElement {
  font-family: 'Press Start 2P', serif;
  font-size: 30px;
  color: rgb(233, 223, 223);
  letter-spacing: 1.7px;
  text-align: center;
  text-transform: uppercase;
  }
  

/* Display box */
.contentElement {
  background: #222222;
  font-size: 16px;
  color: white;
  border-radius: 8px;
  padding: 10px 15px;
  text-transform: capitalize;
}

.modal-dialog {
  width: auto;
}

/* =================POKEMON LIST================== */
.main-list {
  background-color: var(--rosso-corsa);
  margin-top: 30px;
}

.list-group-item {
  background-color: inherit;
  padding: 0;
  border-radius: 15px;
}

/* specifying a width here affects wrapping */
.pokemon-list {
  background: none;
  margin: 10px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px;
}

.pokemon-button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  border-radius: 10px;
  outline: 0;
  border: 1px solid;
  border-color: var(--old-gold);
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.pokemon-button:after {
  content: "";
  background-color: #d1b452;
  border-radius: 10px;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.pokemon-button:hover:after {
  top: 0px;
  left: 0px;
}

@media only screen and (max-width: 588px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }

  .navbar {
    justify-content: center;
  }

  #myInput {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 589px) and (max-width: 768px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }

  .button-52 {
    padding: 13px 50px 13px;
  }
}

@media only screen and (min-width: 769px) and (min-width: 1200px) {
  .pokemon-list {
    grid-template-columns: repeat(4, 1fr);
  }
}